/* IMPORT */

/* / IMPORT */


/* VARIABLES */
:root{
    --green: #B8D914;
    --shadow: rgba(0, 0, 0, 0.3);
}


/* / VARIABLES */




/* COMMON */
*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: clamp(25px, 5vw, 60px);
}
h2{
    font-size: clamp(30px, 4vw, 50px);
}
h3{
    font-size: clamp(25px, 3vw, 25px);
}
h4{
    font-size: clamp(40px, 3vw, 55px);
}
p{
    font-size: clamp(15px, 2vw, 20px);
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}

body {

}

.section-outer{
    width: 100%;
}

.section-inner{
    padding: 80px 10% 40px 10%;

    h2{
        text-align: center;
        margin-bottom: 50px;
    }
}




.section-outer:nth-of-type(5){
}
.section-outer:last-of-type{
    background: #FFD201;
}
/* / COMMON */




/* Contacts */
.contacts{
    display: flex;
    align-items: center;

    img{
        height: clamp(0px, 10vw, 30px);
    }

    :not(:first-child){
        margin-left: 5px;
    }
}

.phone{
    display: flex;
    padding: 2px 7px;
    border: 2px solid black;
    border-radius: 100vw;
    font-size: clamp(0px, 6vw, 20px);
    align-items: center;

    img{
        height: 100%;
        object-fit: contain;
        margin-right: 10px;

        height: clamp(0px, 8vw, 22px);
    }
}
/* / Contacts */


/* Header */
header{
    position: sticky;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px max(10vw, 100px);
    align-items: center;
    background-color: white;

    box-shadow: 0px 0px 30px 0px var(--shadow);

    h1{
        font-size: 20px;
    }

    ul{
        display: flex;
    }
    
    .navigation{
        justify-content: space-evenly;
    }
    
    .contacts{
        justify-self: end;
    }



    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;

        .navigation {
            order: 1;
            grid-column: span 2;
        }

        gap: 10px;

        padding: 10px 3vw;
    }
    @media (max-width: 500px) {
        grid-template-columns: 1fr;

        .navigation {
            order: 1;
            grid-column: 1;
        }

        h1, .contacts{
            justify-self: center;
        }
    }
}

.navigation{
    font-size: 20px;
}
/* / Header */

/* Hero */
#hero{
    padding-bottom: 60px;

    div{
        max-width: max(20vw, 600px);


        p{
            max-width: 90%;
            margin-top: 30px;
        }
    }

    button{
        height: 47px;
        padding: 0 40px;
        margin-top: 30px;
        border-radius: 100vw;
        border-color: transparent;
        background: #BD9EFF;
        color: white;
        font-size: 20px;
        font-weight: bold;

        box-shadow: 0px 5px 5px 0px var(--shadow);
    }
}
/* / Hero */


/* Four */
#four{
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    div {
        padding: 50px 30px;
    }

    img{
        height: 60px;
        object-fit: contain;
    }
    h3{
        margin-top: 20px;
    }
    p{
        margin-top: 20px;
        max-width: 200px;
    }

    div:nth-child(1){
        background: #FFB717;
    }
    div:nth-child(2){
        background: #B9D914;
    }
    div:nth-child(3){
        background: #C78CFF;
    }
    div:nth-child(4){
        background: #60BCFF;
    }
    


    @media (max-width: 1000px){
        grid-template-columns: repeat(2, 1fr);
        
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    
    @media (max-width: 600px){
        grid-template-columns: 1fr;
    }
}
/* / Four */



/* Double */
#double{
    --displace-img: -16vw;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(10px, 8vw, 100px);
    margin-bottom: var(--displace-img);


    background-repeat: no-repeat;
    background-image: 
        url('img/ellipse_purple_left.png'), 
        url('img/ellipse_purple_right.png');
    background-position: 
        bottom calc(20px - var(--displace-img)) left -400px, 
        top -300px right -150px;
    background-size: 
        clamp(700px, 80%, 1200px), 
        clamp(700px, 50%, 1200px);


    
    p{
        margin-top: 30px;
    }

    div:nth-child(1), div:nth-child(3){
        padding: 0 50px;
    }
    div:nth-child(3){
        order: 4;
    }
    div:nth-child(4){
        transform: translateY(var(--displace-img));
    }
    
    img{
        width: 100%;
        aspect-ratio: 1/1;
        
        border-radius: 30px;
        box-shadow: 0px 0px 20px 0px var(--shadow);
    }
    
    

    @media (max-width: 900px){
        grid-template-columns: 1fr;
        
        background-position: 
            bottom left -400px, 
            top -300px left 50px;
        
        margin-bottom: 0;
            
        h3, p{
            text-align: center;
        }
        
        div:nth-child(3){
            order: 0;
        }
        div:nth-child(4){
            transform: translateY(0);
        }        
    }
}
/* / Double */


/* about */
#about{
    background-repeat: no-repeat;
    background-image: 
        url('img/ellipse_yellow.png'), 
        url('img/circle_yellow.png');
    background-size: 
        min(600px, 45%), 
        25%;
    background-position: 
        top 50px left min(50%, 70px), 
        top right 100px;

    #about-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 30px;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;

            background-color: white;
            border-radius: 20px;
            padding: 40px 30px;

            box-shadow: 0px 0px 20px 0px var(--shadow);

            text-align: center;

            :not(:first-child){
                margin-top: 30px;
            }
            
            button{
                height: 47px;
                padding: 0 40px;
                margin-top: 30px;
                border-radius: 15px;
                border-color: transparent;
                background: #FFD001;
                font-size: 20px;
            }
        }
    }


    @media (max-width: 800px) {        
        background-size: max(500px, 45%), max(300px, 60%);
        background-position: top 50px left min(50%, 70px), top 70% right;
        
        /* #about-grid{
            grid-template-columns: repeat(4, 1fr);
        }
        #about-grid > *{
            grid-column: span 2;
        }
        #about-grid > :nth-child(3){
            grid-column: 2 / 4;
        } */
    }

    /* @media (max-width: 600px) {
        #about-grid {
            grid-template-columns: 1fr;
        }
        #about-grid > :nth-child(n){
            grid-column: span 1;
        }
    } */
}
/* / about */



/* Video */
#video{
    
    background-image: 
        url('img/circle_yellow_bright.png'), 
        url('img/circle_yellow.png'), 
        url('img/background_footer.png');
    background-size: 
        max(200px, 15%), 
        max(200px, 15%), 
        100% 100%;
    background-position: 
        top 25% right, 
        bottom 10% right 15%, 
        bottom -1px center;
    background-repeat: no-repeat;


    p{
        margin: 0 auto;
        text-align: center;
        max-width: 700px;
    }

    iframe{
        display: block;
        width: 80%;
        aspect-ratio: 16/9;
        margin: 40px auto 0 auto;
        border-radius: 2vw;
     
        box-shadow: 0px 0px 20px 0px var(--shadow);
    }    

    @media (max-width: 600px) {
        background-size: 
            max(200px, 15%), 
            max(150px, 15%), 
            600px 100%;
        background-position: 
            top 15% right -20%, 
            bottom 10% right 5%, 
            bottom -1px center;


        iframe{
            width: 100%;
        }
    }
}
/* / Video */


/* Footer */
footer{
    padding: 10px max(10vw, 100px);


    @media (max-width: 600px) {   
        .contacts{
            justify-content: center;
        }
    }
}
/* / Footer */